.matti__logo{
}
.matti__logo img{
    width: 35px;
    height: 35px;
    margin-right: 1rem;
}

.matti__logo a{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}